/*layout*/
.header {
  background: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__menu-btn {
  line-height: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__menu-icon {
  width: 40px;
  height: 40px;
}

.header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: #2196F3;
}

.menu__link--active::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -33px;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196F3;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link--active::after {
  transform: scaleX(1);
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .menu {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .menu {
    margin-left: 88px;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background: #C4C4C4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-hero.jpg);
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  color: #FFFFFF;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-hero@2x.jpg);
  }
}

@media screen and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/table-hero.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@2x.jpg);
  }
}

.basics {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
}

.basics__list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.basics__item {
  width: 450px;
}

.basics__item:not(:last-child) {
  margin-bottom: 30px;
}

.basics__icon {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #F5F4FA;
  border-radius: 4px;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  fill: currentColor;
}

.basics__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.basics__discription {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .basics__list {
    margin-top: -30px;
    margin-left: -30px;
  }
  .basics__item {
    width: 354px;
    flex-basis: calc((100% - 120px) / 4);
    margin-top: 30px;
    margin-left: 30px;
  }
  .basics__item:not(:last-child) {
    margin-bottom: 0;
  }
  .basics__icon {
    width: 354px;
  }
  .basics__title {
    text-align: left;
  }
  .basics__discription {
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .basics {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .basics__item {
    width: 270px;
  }
  .basics__item:not(:last-child) {
    margin-bottom: 0;
  }
  .basics__icon {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .activity {
    padding-bottom: 94px;
  }
  .activity__title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .activity__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .activity__item {
    position: relative;
    flex-basis: calc((100% - 90px) / 3);
    margin-top: 30px;
    margin-left: 30px;
  }
  .activity__direction {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-top: 27px;
    padding-bottom: 27px;
    left: 0;
    bottom: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F5F4FA;
}

.team__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 0.64;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__img {
  width: 450px;
  height: 460px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__directions {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__img {
    width: 270px;
    height: 260px;
  }
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}

.client__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.client__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.client__item {
  width: 210px;
  height: 92px;
}

.client__item:not(:last-child) {
  margin-bottom: 30px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196F3;
  box-sizing: border-box;
  border-radius: 4px;
}

.client__icon {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .client__item {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client__title {
    font-size: 36px;
    line-height: 1.17;
  }
  .client__item {
    width: 170px;
    height: 92px;
  }
  .client__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-container__address {
  text-align: center;
  margin-bottom: 60px;
}

.footer-container__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer-container__mailing {
  padding-top: 15px;
}

@media screen and (max-width: 767px) {
  .footer-container {
    flex-wrap: wrap;
  }
  .footer-container__mailing {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .footer-container__social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-container__social {
    padding-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    justify-content: flex-start;
  }
  .footer-container__social {
    margin-right: 93px;
    padding-top: 15px;
  }
  .footer-container__address {
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0;
  }
  .footer-container__title {
    text-align: left;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -30px;
  margin-left: -30px;
}

.work-list__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list__item:hover, .work-list__item:focus {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list__card {
  padding: 20px 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}

.work-list__cont {
  position: relative;
  overflow: hidden;
}

.work-list__txt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.work-list__cont:hover .work-list__txt,
.work-list__cont:focus .work-list__txt {
  transform: translateY(0%);
}

.work-list__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-list__section {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .work-list__img {
    width: 450px;
    height: 294px;
  }
}

@media screen and (min-width: 768px) {
  .work-list__img {
    width: 354px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list__img {
    width: 370px;
    height: 294px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-window__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.modal-window__btn:hover, .modal-window__btn:focus {
  fill: #2196F3;
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__heading {
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__field {
  margin-top: 10px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: #2196F3;
  outline: none;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  display: block;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196F3;
}

.modal-form__message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message:focus {
  border-color: #2196F3;
  outline: none;
}

.modal-form__message::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__policy {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form__policy::before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8.38px;
  vertical-align: middle;
}

.modal-form__checkbox:checked + .modal-form__policy::before {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/check.svg");
  border-color: #2196F3;
  background-color: #2196F3;
}

.modal-form__checkbox:focus + .modal-form__policy::before {
  border-color: #2196F3;
}

.modal-form__link {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
}

.modal-form__btn {
  border-style: none;
  font-weight: bold;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.89;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px 55px 10px 56px;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .modal-form__policy {
    font-size: 14px;
    line-height: 1.7;
  }
  .modal-form__policy::before {
    margin-left: 8.38px;
  }
  .modal-form__link {
    font-size: 14px;
    line-height: 1.7;
  }
}

/*base*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #212121;
  background: #FFFFFF;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.curs-def {
  cursor: default;
}

.container {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*utils*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*components*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(95, 42, 42, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  overflow: auto;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  overflow: auto;
}

.mobile-menu__list {
  margin-bottom: 302px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196F3;
}

.mobile-menu__contact-list {
  margin-bottom: 64px;
}

.mobile-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contact-link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #757575;
  cursor: default;
}

.mobile-menu__contact-link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.08px;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-align: center;
  letter-spacing: 0.02em;
  cursor: default;
}

.mobile-menu__soc-list {
  display: flex;
  flex-direction: row;
}

.mobile-menu__soc-item:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu__soc-item--line {
  border-left: 2px solid rgba(33, 33, 33, 0.2);
  padding: 0;
}

.mobile-menu__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  cursor: default;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}

.logo__web {
  color: #2196F3;
}

.logo__studio-header {
  color: #000000;
}

.logo__studio-footer {
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact__link-mail {
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link-mail:hover, .contact__link-mail:focus {
    color: #2196F3;
  }
  .contact__link-tel {
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link-tel:hover, .contact__link-tel:focus {
    color: #2196F3;
  }
  .contact__icon-mail {
    fill: currentColor;
    width: 14px;
    height: 10px;
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link-mail:hover .contact__icon-mail,
  .contact__link-mail:focus .contact__icon-mail {
    color: #2196F3;
  }
  .contact__icon-tel {
    fill: currentColor;
    width: 10px;
    height: 14px;
    margin-right: 10px;
  }
  .contact__link-tel:hover .contact__icon-tel,
  .contact__link-tel:focus .contact__icon-tel {
    color: #2196F3;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
    align-items: center;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .contact__link-mail {
    font-size: 14px;
    line-height: 1.14;
  }
  .contact__link-tel {
    font-size: 14px;
    line-height: 1.14;
  }
  .contact__icon-mail {
    width: 16px;
    height: 12px;
  }
  __icon-tel {
    width: 10px;
    height: 16px;
  }
}

.hero-btn {
  font-family: inherit;
  border-style: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #FFFFFF;
  padding: 10px 32px 10px 32px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus {
  background: #188CE8;
}

.social {
  display: flex;
  width: 206px;
  margin: 0 auto;
  justify-content: space-between;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196F3;
}

.social__link--color {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #FFFFFF;
}

.social__icon--color {
  fill: #FFFFFF;
}

.address {
  margin-top: 20px;
}

.address__list {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__link--map {
  color: #FFFFFF;
}

.address__link--contact {
  color: rgba(255, 255, 255, 0.6);
}

.mailing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mailing__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 20px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.3);
}

.mailing__input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  padding: 10px 29px 10px 28px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.mailing__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .mailing {
    flex-direction: row;
    align-items: center;
  }
  .mailing__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.portfolio-filter__item {
  margin-bottom: 15px;
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter__btn {
  font-family: inherit;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter__btn:hover, .portfolio-filter__btn:focus {
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    margin-bottom: 50px;
  }
  .portfolio-filter__item {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */