.header {      
    background: #FFFFFF;
    border-bottom: 1px solid #ECECEC; 
   
        padding-top: 10px;
        padding-bottom: 10px;
    
    &__nav {
        display: flex;
        align-items: center;
    }
    &__menu-btn {
        line-height: 0;
        padding:0;
        border:none;
        background-color: transparent;
    }
    
    &__menu-icon{
        width:40px;
        height: 40px; 
      }
}
.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu {
    display: flex;

        &__item {

            &:not(:last-child) {
                margin-right: 50px;    
            }
        }
        &__link{
            position: relative;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: #212121;
            cursor: pointer;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                &:hover,
                &:focus {
                    color: #2196F3;
                 }

            &--active{
            
                &::after {
                position: absolute;
                content:'';
                left: 0;
                bottom: -33px;
                display: block;
                width: 100%;
                height: 5px;
                background-color: #2196F3;
                border-radius: 2px;
                transform: scaleX(0) ;
                transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
                    & {
                    transform: scaleX(1);
                    }
                }
            }  
        }
} 

@media screen and (max-width: 767px){
    .menu {display: none;}
    
}
@media screen and (min-width: 768px){
    .header {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    .menu {
        margin-left: 88px;
    }
}
@media screen and (min-width: 1200px){
    .header {
        padding-top: 24px;
    padding-bottom: 25px;}
    .menu {
        margin-left: 88px;
    }
    }
    